<section>
    <div class="container">
        <h1 style="text-align: center; margin: 20px;">Date from API</h1>
        <table class="table table-bordered table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Version</th>
                <th scope="col">Update Date</th>
                <th scope="col">Environment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{dateObj.version}}</td>
                <td>{{dateObj.updateDate | date}}</td>
                <td>{{dateObj.environment}}</td>
              </tr>  
            </tbody>
          </table>      
    </div>
</section>